<h2>Create Celebrity</h2>

<form action="/celebrities/create" method="post">

  <label for="name-input">Name</label>
  <input id="name-input" type="text" name="name" placeholder="Name">
  <br/>
  <label for="occupation-input">Occupation</label>
  <input id="occupation-input" type="text" name="occupation" placeholder="Occupation">
  <br/>
  <label for="phrase-input">Catch Phrase</label>
  <input id="phrase-input" type="text" name="catchPhrase" placeholder="Catch Phrase">
  <br/>
  <button>Create Celebrity</button>
</form>

<form action="/celebrities" method="get">
  <button>List of All Celebrities</button>
</form> 