<h2>List of all celebrities</h2>

<form action="/celebrities/create" method="get">
  <button>Add Celebrity</button>
</form>
<form action="/" method="get">
  <button>Home Page</button>
</form>

<ul>
  {{#each listOfCelebrities}}
  <li>
    <a href="/celebrities/{{_id}}"><strong>{{name}}</strong></a>
    <form action="/celebrities/{{_id}}/delete" method="post">
      <button>Delete Celebrity</button>
    </form>
    <form action="/celebrities/{{_id}}/edit" method="get">
      <button>Edit Celebrity</button>
    </form>
  </li>
  {{/each}}
</ul>